APP_ENV=development
APP_SECRET_KEY=change-this-to-random-64-char-string

DATABASE_URL=postgresql://cipher:cipher_pass@postgres:5432/cipher_db
REDIS_URL=redis://redis:6379/0
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

AWS_REGION=ap-south-1
AWS_ACCOUNT_ID=your-12-digit-account-id
S3_BUCKET_LOGS=cipher-logs-dev
S3_BUCKET_MODELS=cipher-models-dev

JWT_SECRET_KEY=change-this-to-another-random-64-char-string
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

GITHUB_APP_ID=your-github-app-id
GITHUB_APP_PRIVATE_KEY_PATH=/secrets/github-app.pem
GITHUB_WEBHOOK_SECRET=your-webhook-secret

STRIPE_SECRET_KEY=sk_test_placeholder
STRIPE_PUBLISHABLE_KEY=pk_test_placeholder
STRIPE_WEBHOOK_SECRET=whsec_placeholder
STRIPE_PRICE_STARTER=price_placeholder
STRIPE_PRICE_PRO=price_placeholder

MLFLOW_TRACKING_URI=http://mlflow:5000
SAGEMAKER_ROLE_ARN=arn:aws:iam::your-account:role/cipher-sagemaker-role
SENDGRID_API_KEY=SG.placeholder
