# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Node
node_modules/
.next/
out/
.npm
*.log

# Env files
.env
.env.local
.env.production
*.pem
*.key

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Docker
*.tar

# IDE
.idea/
.vscode/
*.swp
*.swo

# AWS
.aws/

# Misc
.DS_Store
coverage/
